@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*** Global Styles ***/

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

/* Variables */

:root {
  /* Theme Colours */

  --primary: #19a87b; /* Borealis */
  --secondary: #669ced; /* Boysclub */
  --accent: #f55e56; /* Persimmon */

  --success: #4ff7a6; /* Verdant */
  --danger: #de1451; /* Dragonfruit */

  --dark: #292926; /* Charcoal */
  --light : #f2f1e9; /* Porcelain */

  /* Miscellaneous */

  /* box-shadow: 0px 8px 16px 4px rgba(100, 100, 100, 0.1); */
}

/*** __________ ***/

html {
  width: 100vw;
  height: 100vh;
}

body {
  background-color: aliceblue;
  color: var(--dark);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  font-family: 'Noto Sans', sans-serif;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--dark);
  width: 100%;
  height: 8%;
  border-bottom: 3px solid var(--light);
  box-shadow: 0px 8px 16px 4px rgba(100, 100, 100, 0.5);
}

.navigation-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  /* background-color: orange; */
  width: 95%;
}

.navigation-bar__brand {
  color: var(--accent);
  font-size: x-large;
  font-weight: bold;
  padding: .5rem;
}

.navigation-bar__brand:hover {
  background-color: var(--danger);
  color: var(--light);
  border-radius: 2px;
}

.navigation-bar__navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 18rem;
}

.navigation-bar__navigation__link {
  color: var(--light);
}

.navigation-bar__navigation__link:active {
  color: var(--accent);
}

.navigation-bar__navigation__link:hover {
  color: var(--secondary);
}

.header {
  /* background-image: url('https://img.wallpapersafari.com/desktop/1024/576/23/54/YzyvDg.jpg'); */
  width: 100vw;
  height: 61vh;
}

/* .subscribe-form button {
  padding: 1rem 2rem;
  box-shadow: 1px 2px 3px 0px slategray;
  border-radius: 3px;
  border: none;
  cursor: pointer;
} */